@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#7700ff 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#7700ff 1px, transparent 0);
}

pre {
  background-color: #120d1c !important;
  border: 1px solid #422875;
}
