body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

i,
b,
em {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

pre code span {
  font-family: "Fira Code", monospace;
}
