@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=JetBrains+Mono&display=swap');

pre {
  background-color: #070509 !important;
}

pre code {
  background-color: #070509 !important;
  font-family: 'Fira Code', monospace;
  font-weght: 300;
}

pre code.has-highlight .token-line {
  opacity: 0.3;
  /* filter: grayscale(100%); */
}

code.has-highlight .token-line.highlight {
  opacity: 1;
  filter: none;
  background-color: rgb(4, 3, 5) !important;
}

code.has-highlight .token-line.highlight.first {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  margin-top: 5px !important;
  padding-top: 10px !important;
}

code.has-highlight .token-line.highlight.last {
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  margin-bottom: 5px !important;
  padding-bottom: 10px !important;
}
code.prism-code.language-dart span.token.plain {
  color: #f78c6c !important;
}

pre code.prism-code.language-dart span.token.design-token {
  color: #ffffff !important;
  background-color: rgb(115, 34, 203, 0.2) !important;
  padding: 0px 5px !important;
  border-radius: 10px !important;
  /* text-shadow: 1px 1px 5px rgb(255, 255, 255, 0.8); */
}

pre code.prism-code.language-dart span.token.string {
  color: #73e7d3 !important;
}

pre code.prism-code.language-dart span.token.number {
  color: #f78c6c !important;
}

pre code.prism-code.language-dart span.token.keyword {
  color: #f776b6 !important;
}

pre code.prism-code.language-dart span.token.class-name {
  color: #52f3d7 !important;
}

pre code.prism-code.language-dart span.token.function {
  color: #e7aa67 !important;
}

pre code.prism-code.language-dart span.token.punctuation {
  color: #777 !important;
}

pre code.prism-code.language-dart span.token.operator {
  color: #777 !important;
}

/* pre .dark span.token.string {
  color: red !important;
} */

/* pre span.token.plain {
  color: rgb(255, 255, 255) !important;
} */
/* Hack to make the TOC links look better by adjusting kerning */
article > main + div a.font-semibold {
  font-weight: 500;
  letter-spacing: -0.01rem;
}

/* SIDEBAR, hopefully you can remove thi later */
div.w-64 ul li[style*='margin-left:1rem'] {
  font-weight: 700;
}

body .dark {
  background-color: #000 !important;
}

/* body {
  background: linear-gradient(-45deg, #000000, #1b1329, #000000, #1c3827);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
