name: "Add labels"

on:
  pull_request:

permissions:
  pull-requests: read

jobs:
  apply-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ${{ steps.pr-files.outputs.changedFiles }}
            })
