name: Test Workflow

on:
  push:
    branches: [main]
    paths-ignore:
      - 'examples/**'
      - 'website/**'
      - 'assets/**'
      - 'tool/**'

  pull_request:
    branches: [main]
    paths-ignore:
      - 'examples/**'
      - 'test_resources/**'
      - 'website/**'
      - 'assets/**'
      - 'tool/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mix repo
        uses: actions/checkout@v2

      - name: Run Tests
        uses: ./.github/actions/test/
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  test_min_sdk:
    runs-on: ubuntu-latest
    name: Test Min SDK
    steps:
      - name: Checkout mix repo
        uses: actions/checkout@v2

      - name: Remove pubspec_overrides.yaml
        run: find . -name "pubspec_overrides" -type f -delete

      - name: Run Tests
        uses: ./.github/actions/test/
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          run-dcm: false
          flutter-version: "3.10.6"